/* Base styles for the hero component */
.hero-container {
  display: flex;
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
}

.hero-image-container {
  flex: 1;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7); /* Darken the image */
  transition: filter 0.8s ease;
}

.hero-image-container:hover .hero-image {
  transform: scale(1.005);
  filter: brightness(1);
}

.hero-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff; /* Keep the text bright */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  font-weight: 400;
  z-index: 2;
  pointer-events: none;
  padding: 5px; /* Padding to create some space around the text */
}

.hero-headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
  text-align: center;
}

.hero-heading {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    height: auto;
    
  }

  .hero-image-container {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  .hero-description {
    bottom: 5px;
    left: 5px;
    font-size: 1.4rem;
  }

  .hero-heading {
    font-size: 2rem;
    line-height: 1.2;
  }
  .hero-headline {
    position: absolute;
    top: 17%;
    left: 50%;
  }
}

@media (max-width: 480px) {
  .hero-heading {
    font-size: 1.5rem;
  }

  .hero-description {
    font-size: 0.8rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h3, h1, h4 {
  margin: 0;
}

h4 {
  color: rgb(82, 82, 82);
}

.dashboard-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dashboard-text h1 {
  font-size: 3.2rem;
  padding: 0;
  line-height: 1.1;
}
