

/* Card Styles */
.country-card {
    width: 18rem;
    /* background-color: #E3E2DF; */
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
  .country-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .country-card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .country-card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
  }
  
  .continent-card-title {
    font-size: .8rem;
    color: #4b4b4b;
    /* text-shadow: 0.5px 0.5px #898989; */
    font-weight: 700;
    margin: 0;
  }
  .country-card-title {
    font-size: 1.25rem;
    color: #143AA2;
    /* text-shadow: 0.5px 0.5px #898989; */
    font-weight: 700;
    margin: 0;
  }
  .state-card {
    width: 18rem;
    background-color: #e3e2df;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  
  .state-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .image-container {
    position: relative;
  }
  
  .state-card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black; /* Default color of the icon */
    font-size: 1rem;
    background-color: white;
    padding: 5px;
    border-radius: 40%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .favorite-icon:hover {
    color: white; /* Change icon color to white */
    background-color: black; /* Change background color to black */
    transform: scale(1.2); /* Slightly enlarge the icon on hover */
  }
  
  .state-card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .state-card-title {
    font-size: 1.25rem;
    color: #143AA2;
    text-shadow: 0.5px 0.5px #898989;
    font-weight: 700;
    margin: 0;
  }
  


.managingHeart {
  position: relative;
}



/* ********************************************************** */
/* Destination Card Styles */
.destination-card {
  width: 18rem;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

.destination-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.destination-card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.destination-card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
}

.continent-card-title {
  font-size: .8rem;
  color: #4b4b4b;
  font-weight: 700;
  margin: 0;
}

.destination-card-title {
  font-size: 1.25rem;
  color: #143AA2;
  font-weight: 700;
  margin: 0;
}
