/* FlippableCard Styles */
.flippable-card {
  width: 18rem;
  height: 16rem; /* Adjust height to ensure both sides fit */
  perspective: 1000px; /* Perspective for 3D effect */
  margin-bottom: 0.5rem;
  position: relative;
  border-radius: 10px; /* Rounded corners */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px; /* Box shadow */
}
 
.flippable-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}
 
.flippable-card.flipped .flippable-card-inner {
  transform: rotateY(180deg);
}
 
.flippable-card-front, .flippable-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px; /* Rounded corners for front and back */
}
 
.flippable-card-front {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
}
 
.flippable-card-back {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  background: linear-gradient(135deg, #fbc2eb, #a6c0fe); /* Softer gradient */
  transform: rotateY(180deg);
  padding: 1rem;
}
 
 
.destination-card-img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
 
.destination-card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
}
 
.destination-card-title {
  font-size: 1.25rem;
  color: #143AA2;
  font-weight: 700;
  margin: 0;
}