.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  color: rgb(26, 26, 26);
  height: 80px;
  box-sizing: border-box;
}

.globe-icon {
  font-size: 2rem;
  position: relative;
  top: 2px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.navbar-logo {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.search-bar-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  margin-right: 1rem;
  flex: 2; /* Takes up more space between logo and nav links */
  justify-content: center;
  width: 60%;
}

.search-bar {
  width: 80%;
  padding: 0.5rem 2.5rem 0.5rem 2rem; /* Extra padding to make space for the icon */
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  transition: width 0.3s ease-in-out; /* Smooth transition for width change */
}

.search-bar:focus {
  width: 100%; /* Adjust as needed */
}

.search-icon {
  position: relative;
  right: 15px; /* Adjust this value to align the icon inside the search bar */
  top: 55%;
  transform: translateY(-20%) translateX(-70%);
  cursor: pointer;
  color: #333;
  pointer-events: none; /* Prevents the icon from interfering with click events on the input */
}

.search-icon:hover {
  color: #0f0f0f;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  align-items: center;
  flex: 1;
}

.navbar-links li {
  position: relative;
  font-size: 1rem;
}

.navbar-links a {
  padding: 10px;
  color: rgb(35, 35, 35);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  border-radius: 30px;
  font-weight: 600;
}

.navbar-links a:hover {
  color: #0068e6;
}

.profile-icon {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #f0f0f0;
  transition: background-color 0.2s ease-in-out;
}

.profile-icon:hover {
  background-color: #e0e0e0;
}

/* Hamburger icon styling */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  /* margin-right: 2rem; */
}

@media (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: auto .5rem;
  }

  .navbar-left {
    width: 100%;
    justify-content: space-between;
  }

  .search-bar-container {
    display: none; /* Hide search bar by default on small screens */
  }

  .navbar-links {
    display: none; /* Hide nav links by default on small screens */
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .hamburger {
    display: block; /* Show hamburger on small screens */
  }

  .navbar-links.active {
    display: flex; /* Show nav links in second row when active */
  }

  .search-bar-container.active {
    display: flex; 
    padding: 1rem 0rem;
    background-color: white;
    border-top: 1px solid #ddd;
    margin-right: 0;
  }
}
