
/* General styles */

.dashboard-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1.5rem 2.5rem 0;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.dashboard-text h3 {
  /* font-size: 2rem ; */
  font-weight: 700;
  color: rgb(70, 70, 70);
  margin-bottom: 0;
}

 .bold-heading {
  font-size: 3.2rem;
  color:  linear-gradient(to right, #ffffff 0%, #ecd3ff 100%);
  padding: 0;
  font-weight: 800;
}

.viewAllDestinations {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  align-items: center; /* Center items vertically */
  /* margin-bottom: 1rem; */
}

.viewAllDestinationsBtn {
  background-color: #ffffff; /* Primary blue color */
  color: rgb(36, 36, 36); /* Dark text color */
  border: .5px solid black;
  padding: 10px 20px; /* Padding inside the button */
  font-size: 1rem; /* Font size */
  font-weight: 600; /* Bold text */
  border-radius: 25%; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color .3s ease, transform 0.8s ease, color .3s ease; /* Smooth transition for hover effects */
}

.viewAllDestinationsBtn:hover {
  background-color: #0077f7; /* Darker blue on hover */
  color: white;
  transform: translateY(-2px); /* Slight lift effect on hover */
  border: none;
}

.viewAllDestinationsBtn:active {
  transform: translateY(0); /* Return to original position when clicked */
}

.viewAllDestinationsBtn:focus {
  outline: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .dashboard-text {
    padding: 1.5rem 1.5rem 0; /* Reduce padding on smaller screens */
    /* text-align:left; */
  }

  .dashboard-text h1 {
    font-size: 2.5rem; /* Reduce font size on smaller screens */
  }

  .viewAllDestinations {
    flex-direction: column; /* Stack items vertically */
    align-items: start; /* Center items horizontally */
    /* text-align: start; */

  }

  .viewAllDestinationsBtn {
    width: 100%; /* Full width button */
    text-align: center; /* Center text inside the button */
    margin-top: 1rem; /* Add space above button */
  }
}

@media (max-width: 480px) {
  .dashboard-text {
    align-items: center;
    text-align: center;
  }
  .dashboard-text h1 {
    font-size: 2rem; /* Further reduce font size on very small screens */
  }
  .dashboard-text h3 {
    font-size: 1rem; /* Further reduce font size on very small screens */
  }
}
